<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Admin Panel</h1>

      <h2 class="subtitle">Add Barcode Scanner</h2>

      <form id="addScannerForm" method="POST" action="/config">
        <div class="field">
          <label class="label">Scanner Name</label>
          <div class="control">
            <input class="input" type="text" name="name" placeholder="Enter scanner name" required>
          </div>
        </div>

        <div class="field">
          <label class="label">IP Address</label>
          <div class="control">
            <input class="input" type="text" name="host" placeholder="Enter IP address" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Port</label>
          <div class="control">
            <input class="input" type="number" name="port" placeholder="Enter port" required>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">Add Scanner</button>
          </div>
        </div>

        <p id="errorMessage" class="help is-danger"></p> <!-- Display error message -->

      </form>

      <h2 class="subtitle">Currently Configured Scanners</h2>

      <% if (scanners.length > 0) { %>
        <ul>
          <% scanners.forEach(function(scanner) { %>
            <li><%= scanner.name %> - <%= scanner.host %>:<%= scanner.port %>
              <form method="POST" action="/remove">
                <input type="hidden" name="name" value="<%= scanner.name %>">
                <button class="button is-danger" type="submit">Remove</button>
              </form>
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No scanners configured.</p>
      <% } %>
      
      <% if (scannerExists) { %>
        <div class="notification is-danger">
          Directory already exists for scanner <%= scannerExists %>.
        </div>
      <% } %>
    </div>
  </section>

  <script>
    const addScannerForm = document.getElementById('addScannerForm');

    addScannerForm.addEventListener('submit', (event) => {
      event.preventDefault();

      const scannerName = document.querySelector('input[name="name"]').value;

      fetch('/create-directory', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ scannerName })
      })
        .then((response) => {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('Failed to create directory');
          }
        })
        .then((data) => {
          console.log(data.message); // Log the response message
          refreshAdminPanel(); // Update the admin panel
        })
        .catch((error) => {
          console.error('An error occurred:', error);
          const errorMessage = document.getElementById('errorMessage');
          errorMessage.textContent = error.message; // Display the error message
        });

      // Submit the form
      addScannerForm.submit();
    });

    function refreshAdminPanel() {
      fetch('/config')
        .then((response) => response.json())
        .then((data) => {
          const scannersList = document.getElementById('scannersList');
          scannersList.innerHTML = ''; // Clear the existing list

          if (data.length > 0) {
            data.sort((a, b) => a.name.localeCompare(b.name));

            data.forEach((scanner) => {
              const listItem = document.createElement('li');
              listItem.textContent = `${scanner.name} - ${scanner.host}:${scanner.port}`;

              const removeForm = document.createElement('form');
              removeForm.method = 'POST';
              removeForm.action = '/remove';

              const removeInput = document.createElement('input');
              removeInput.type = 'hidden';
              removeInput.name = 'name';
              removeInput.value = scanner.name;

              const removeButton = document.createElement('button');
              removeButton.classList.add('button', 'is-danger');
              removeButton.type = 'submit';
              removeButton.textContent = 'Remove';

              removeForm.appendChild(removeInput);
              removeForm.appendChild(removeButton);
              listItem.appendChild(removeForm);
              scannersList.appendChild(listItem);
            });
          } else {
            const noScannersMessage = document.createElement('p');
            noScannersMessage.textContent = 'No scanners configured.';
            scannersList.appendChild(noScannersMessage);
          }
        })
        .catch((error) => {
          console.error('An error occurred:', error);
        });
    }

    // Initial loading of the admin panel
    refreshAdminPanel();
  </script>
</body>
</html>
